{
  "printWidth": 120,
  "endOfLine": "lf",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@(server|client)/presentation",
    "^@(server|client)/presentation/(.*)$",
    "^@(server|client)/adapter",
    "^@(server|client)/adapter/(.*)$",
    "^@(server|client)/repository",
    "^@(server|client)/repository/(.*)$",
    "^@(server|client)/api",
    "^@(server|client)/api/(.*)$",
    "^@(server|client)/domain",
    "^@(server|client)/domain/(.*)$",
    "^@(server|client)/shared",
    "^@(server|client)/shared/(.*)$",
    "^@(server|client)/server/(.*)$",
    "^@(server|client)/config",
    "^@(server|client)/config/(.*)$",
    "([.]svg|[.]jpg|[.]jpeg|[.]gif|[.]png)$",
    "^[./]",
    "^[./](?!.*([.]css|[.]scss))",
    "([.]css|[.]scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
