{
  "printWidth": 120,
  "endOfLine": "lf",
  "semi": false,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@(server|client)/presentation",
    "^@(server|client)/presentation/(.*)$",
    "^@(server|client)/adapter",
    "^@(server|client)/adapter/(.*)$",
    "^@(server|client)/repository",
    "^@(server|client)/repository/(.*)$",
    "^@(server|client)/api",
    "^@(server|client)/api/(.*)$",
    "^@(server|client)/domain",
    "^@(server|client)/domain/(.*)$",
    "^@(server|client)/shared",
    "^@(server|client)/shared/(.*)$",
    "^@(server|client)/server/(.*)$",
    "^@(server|client)/config",
    "^@(server|client)/config/(.*)$",
    "^@(v1)/presentations",
    "^@(v1)/presentations/(.*)$",
    "^@(v1)/adapters",
    "^@(v1)/adapters/(.*)$",
    "^@(v1)/repositories",
    "^@(v1)/repositories/(.*)$",
    "^@(v1)/apis",
    "^@(v1)/apis/(.*)$",
    "^@(v1)/domains",
    "^@(v1)/domains/(.*)$",
    "^@(v1)/shared",
    "^@(v1)/shared/(.*)$",
    "^@(v1)/server/(.*)$",
    "^@(v1)/config",
    "^@(v1)/config/(.*)$",
    "([.]svg|[.]jpg|[.]jpeg|[.]gif|[.]png)$",
    "^[./]",
    "^[./](?!.*([.]css|[.]scss))",
    "([.]css|[.]scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
