---
/**
 * Pre 태그 공백 이슈
 * - https://stackoverflow.com/questions/77738519/unknown-height-is-being-applied-to-pre-tag
 */
import type { CodeBlock } from "../../../v1/blog/domain/interfaces/notion-blog-block.interface";

const props = Astro.props as CodeBlock;
const contents = props.content.texts[0].plain_text.split("\n");
---

<div class="mockup-code w-full mt-4 mb-4">
    {
        contents.map((content, idx) => (
            <pre data-prefix={idx + 1} class="whitespace-nowrap">
                <code>{content}</code>
            </pre>
        ))
    }
</div>
