---
import { type BlockNormalizerResult } from "../../modules/notion-block-normalizer";
import Text from "./Text.astro";

const props = Astro.props as BlockNormalizerResult<"heading_1">;
---

<h1 class="mb-5 mt-3 text-4xl font-bold">
    {props.text.map((t) => <Text {...t} />)}
</h1>
