---
import type { TextBlock } from "../../../v1/blog/domain/interfaces/notion-blog-block.interface";
import Text from "./Text.astro";

const props = Astro.props as TextBlock;
---

<h1 class="mb-4 mt-8 text-4xl font-bold" id={props.id}>
    {props.content.map((t) => <Text {...t} />)}
</h1>
