---
import type { TextBlock } from "../../../v1/blog/domain/interfaces/notion-blog-block.interface";
import Text from "./Text.astro";

const props = Astro.props as TextBlock;
const id = props.content
    .reduce((acc, { plain_text }) => acc + plain_text, "")
    .trim();
---

<h1 class="mb-4 mt-8 text-4xl font-bold" id={id}>
    {props.content.map((t) => <Text {...t} />)}
</h1>
