---
import { type BlockNormalizerResult } from "../../modules/notion-block-normalizer";
import Text from "./Text.astro";
import NumberedListItem from "./NumberedListItem.astro";

const { blocks } = Astro.props as {
    blocks: BlockNormalizerResult<"numbered_list_item">[];
};
---

<ul
    role="list"
    class="mt-3 list-inside list-decimal space-y-3 pl-5 marker:text-accent"
>
    {
        blocks.map((block) => {
            return (
                <li>
                    {block.text.map((t) => (
                        <Text {...t} />
                    ))}
                    {block.has_children && (
                        <NumberedListItem blocks={block.children} />
                    )}
                </li>
            );
        })
    }
</ul>
