---
import Text from "./Text.astro";
import type { TextBlock } from "../../../v1/blog/domain/interfaces/notion-blog-block.interface";
import RenderBlock from "../RenderBlock.astro";

const { blocks } = Astro.props as {
    blocks: TextBlock[];
};
---

<ul
    role="list"
    class="mt-3 list-outside list-decimal space-y-3 pl-5 marker:text-accent"
>
    {
        blocks.map((block) => {
            return (
                <li>
                    {block.content.map((t) => (
                        <Text {...t} />
                    ))}
                    {block.has_children && (
                        <RenderBlock blocks={block.children} />
                    )}
                </li>
            );
        })
    }
</ul>
