---
import type { TextBlock } from "../../../v1/blog/domain/interfaces/notion-blog-block.interface";
import Text from "./Text.astro";

const props = Astro.props as TextBlock;
---

<p class="mt-2 mb-2">
    {props.content.map((t) => <Text {...t} />)}
</p>
