---
import cn from "classnames";
import Text from "./Text.astro";
import type { TableBlock } from "../../../v1/blog/domain/interfaces/notion-blog-block.interface";

const props = Astro.props as TableBlock;
const [headRows, ...bodyRows] = props.content.table;
const addHeaderRowClass = () =>
    props.content.has_column_header && "bg-base-200";
const addHeaderColumnClass = (idx: number) =>
    props.content.has_row_header && idx === 0 && "bg-base-200";
---

<div class="overflow-x-auto mt-2 mb-3">
    <table class="table">
        <!-- head -->
        <thead>
            <tr class={cn(addHeaderRowClass())}>
                {
                    headRows.map((cell, idx) => {
                        return (
                            <th class={cn(addHeaderColumnClass(idx))}>
                                {cell && <Text {...cell} />}
                            </th>
                        );
                    })
                }
            </tr>
        </thead>
        <tbody>
            {
                bodyRows.map((cells) => {
                    return (
                        <tr>
                            {cells.map((cell, idx) => {
                                return (
                                    <td class={cn(addHeaderColumnClass(idx))}>
                                        {cell && <Text {...cell} />}
                                    </td>
                                );
                            })}
                        </tr>
                    );
                })
            }
        </tbody>
    </table>
</div>
