---
import Text from "./Text.astro";
import BulletedListItem from "./BulletedListItem.astro";
import type { TodoBlock } from "../../../v1/blog/domain/interfaces/notion-blog-block.interface";

const { blocks } = Astro.props as {
    blocks: TodoBlock[];
};
---

<ul
    role="list"
    class="mt-3 list-inside space-y-3 pl-5 text-accent-content marker:text-accent"
>
    {
        blocks.map((block) => {
            return (
                <li>
                    <input
                        type="checkbox"
                        checked={block.content.checked ? "checked" : undefined}
                        class="checkbox checkbox-sm mr-0.5 pointer-events-none bg-accent checked:accent-content"
                    />
                    {block.content.texts.map((t) => (
                        <Text {...t} />
                    ))}
                    {block.has_children && (
                        <BulletedListItem blocks={block.children} />
                    )}
                </li>
            );
        })
    }
</ul>
