---
import { type BlockNormalizerResult } from "../../modules/notion-block-normalizer";
import Text from "./Text.astro";
import BulletedListItem from "./BulletedListItem.astro";

const { blocks } = Astro.props as {
    blocks: BlockNormalizerResult<"to_do">[];
};
---

<ul
    role="list"
    class="mt-3 list-inside space-y-3 pl-5 text-accent-content marker:text-accent"
>
    {
        blocks.map((block) => {
            return (
                <li>
                    <input
                        type="checkbox"
                        checked={block.checked ? "checked" : undefined}
                        class="checkbox checkbox-sm mr-0.5 pointer-events-none bg-accent checked:accent-content"
                    />
                    {block.text.map((t) => (
                        <Text {...t} />
                    ))}
                    {block.has_children && (
                        <BulletedListItem blocks={block.children} />
                    )}
                </li>
            );
        })
    }
</ul>
