---
import blogs from "../assets/blogs.json";
---

<ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 p-4">
    {
        blogs.map((blog) => (
            <li class="card bg-base-100 sm:w-full md:w-full/2 shadow-sm">
                <div class="card bg-base-100 shadow-md">
                    <figure class="h-48 overflow-hidden">
                        <img
                            src={blog.backgroundImage}
                            alt=""
                            class="w-full h-full object-cover"
                        />
                    </figure>
                    <div class="card-body">
                        <h2 class="card-title text-base">{blog.title}</h2>
                        <p class="text-sm  line-clamp-2">{blog.description}</p>
                        <div class="card-actions justify-end">
                            <a
                                href={`/blog/${blog.id}`}
                                class="btn btn-sm btn-outline"
                            >
                                자세히 보기
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        ))
    }
</ul>
