<header>
    <div>
        <a>
            <span hidden>이든 블로그</span>
            <h2>Logo</h2>
        </a>
        <div>
            <nav>
                <ul>
                    <li>
                        <a href="">Resume</a>
                    </li>
                    <li>
                        <a href="">Article</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<main>
    <section>
        <h2>나의 상태</h2>
    </section>
    <section>
        <h2>Blog</h2>
        <button>More</button>
    </section>
</main>
<footer></footer>