<section class="mt-10">
    <div
        class="flex w-full flex-col-reverse md:flex-row justify-center items-center bg-base-100 shadow-sm"
    >
        <div class="card-body">
            <h2 class="card-title text-3xl font-bold">생각중...</h2>
        </div>
        <figure>
            <img
                class="aspect-3/4 max-w-96 ml-auto mr-auto object-cover rounded-lg"
                src="/happy-worker.png"
                alt="happy"
            />
        </figure>
    </div>
</section>
